html{
    scroll-behavior: smooth;
}

*{
    margin: 0; padding: 0; box-sizing: border-box;
}


li a:hover{
    text-decoration: none;
}

.card-body a:hover{
    text-decoration: none;
}

.header{
    width: 100%;
    height: 100vh;
    background-image:url("bg2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 75%, 60% 100% , 0 75%, 0 0);
    position: relative;
}

.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: linear-gradient(to right, #5FBAD7 0%, #5FBAD7 0%, #5FBAD7 100%);
    opacity: .6;
}

.navbar{
    background-color: black;
}

.nav-link{
    color: white;
    font-weight: bold;
}

.header-section{
    width: 100%;
    height: inherit;
    color: black;
    text-align: center;
    position: relative;
}

.center-div h1{
    margin-top: 100px;
    font-weight: 700;
    font-size: 50px;
}

.center-div p{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.header-button{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

/*******extradiv css starts *******/

.extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}

.extra-div{
    background-color: #fff;
    border: medium none;
    padding: 30px!important;
    border-radius: 3px;
    transition: 0.3s;
}


.extra-div:hover{
    box-shadow: 0 0 30px 0 blue;
    transform: translateY(-20px);
}


/*******extradiv css ends *******/

/*******about styx media css starts *******/

.about{
    background-color: #5FBAD7;
    padding: 50px 0;
    margin-bottom: 50px;
}

.about h1{
    color: #fff;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 50px;
    text-shadow: 0 2px 5px maroon;
}

.about h3{
    font-weight: bold;
    color: #F7CF5F;
}

.about-contact{
    background-color: #F7CF5F;
    margin: 30px 200px;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    color: #fff;
}

.about p{
    padding: 0 20px;
}

.about-contact:hover{
    box-shadow: 0 0 30px 0 black;
    color: black;
}

/*******about styx media css ends *******/


/*******people css starts *******/

.people{
    width: 100%;
    height: auto;
    background: linear-gradient(270deg, #FFB806 50%, #5FBAD7);
    margin: 50px 0;
}

.box{
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 40px 0;
}

.box p{
    padding-top: 2%;
    font-weight: bold;
}

.box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important; 
}

.carousel-indicators li{
    background-color: #5FBAD7!important;
}


.box h4{
    color: orangered;
}


/*******people css ends *******/

/*******project css starts *******/

.projectwork{
    width: 100%;
    height: auto;
    padding: 30px 0;
    margin: 50px 0;
    background: linear-gradient(270deg, #5FBAD7, #FFB806 50%);
}

.projectdiv{
    background-color: #fff;
    border: medium none;
    padding: 30px!important;
    border-radius: 3px;
    transition: 0.3s;
    background: linear-gradient(270deg, #5FBAD7, #FFB806 50%);
    color: maroon;
}

.projectdiv:hover{
    box-shadow: 0 0 30px 0 blue;
    transform: translateY(-20px);
    color: #fff;
}

.projectdiv i{
    margin-bottom: 25px;
}


/*******project css ends *******/


/*******weare css starts *******/
.weare{
    width: 100%;
    height: 90vh;
    padding: 20px 0;
}

.weare h1{
    color: maroon;
    font-weight: 700;
    padding-bottom: 30px;
    text-shadow: 0 2px 5px black;
}

.icons p{
    margin-left: 40px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
    color: #FF5F3E;
}

.icons i{
    margin-right: 30px;
    color: #FFB806;
}

/*******weare css ends *******/

/*******business css atarts *******/

.business{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url("dollar.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.business:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .4;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.businessdiv{
    width: 100%;
    padding: 50px 0;
    color: #fff;
}



.business-button{
    width: 50%;
    background-color: #F7CF5F;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.business-button:hover{
    color: maroon;
    box-shadow: 0 0 30px 0 maroon;
}

/*******business css ends *******/

/*******Our Blog css starts *******/

.blog{
    width: 100%;
    height: 120vh;
    margin: 50px 0;
    padding: 40px;
    background: linear-gradient(160deg, #FFB806 55%, #5FBAD7 0%) ;
}

.blog h1{
    font-weight: bold;
    color: maroon;
    padding-bottom: 50px;
    text-shadow: 0 2px 5px #5FBAD7;
}

.card{
    transition: 0.4s ease;
}

.card:hover{
    box-shadow: 0 0 30px 0 maroon;
    transform: translateY(-20px);
}

.blog p{
    padding: 10px 15px;
}

.blog-button{
    text-align: center;
    padding-top: 100px;
}

.our-button{
    background-color: #FFB806;
    
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.our-button:hover{
    background-color: maroon;
    box-shadow: 0 0 30px 0 #FFB806;
}

/*******Our Blog css ends *******/


/*******customer css starts *******/

.customerdiv{
    width: 100%;
    height: 50vh;
    padding: 80px 0;
}

.boxdiv{
    text-align: center;
}

/*******customer css ends *******/

/*******footer css starts *******/

.footersection{
    width: 100%;
    height: 50vh;
    color: #fff;
    background-color: black;
}

.footer-div{
    padding-top: 30px;
}

.lastline{
    padding-top: 80px;
}

ul li{
    float: right;
    padding: 10px;
    list-style: none;
}

/*******footer css ends *******/

#mybtn{
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #FFB806;
    padding: 10px;
    border-radius: 10px;
}


/*******media queries *******/


@media(max-width: 768px){
    .nav-item{
        text-align: center!important;
    }

    .weare{
        height: auto;
        margin-top: 50px;
    }
    .business{
        height: auto;
        margin-top: 50px;
    }
    .blog{
        height: auto;
        margin-top: 50px;
    }
    .customerdiv{
        height: auto;
        margin-top: 50px;
    }
    .footersection{
        height: auto;
        margin-top: 50px;
    }
    .card{
        transform: translateY(0px);
        margin: 20px 0;
    }
    .about-img{
        width: 70%;
    }
    .box{
        width: 70%;
    }
    .weare-img{
        width: 100%;
    }
    .scrolltop{
        left: 40px;
    }
}